* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #333;
    background-color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* CONTENIDO INFORMATIVO  */

.cont {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #C20606;
}


.redes {
    margin-left: 30px;
}

.redes img {
    width: 35px;
}

.cont .datos {
    margin-right: 30px;
}

.cont .datos ul {
    display: flex;
}

.cont .datos ul li {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.tels {
    display: flex;
    justify-content: center;
}

/* FIN DE CONTENIDO INFORMATIVO  */

/* MENU  */

.nav {
    width: 100%;
    min-height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .nav .menu{
    display: flex;
    justify-content: center;

} */

.nav .logo {
    width: 24%;
    margin-bottom: -12px;
}

.nav .logo img {
    width: 100%;
}


.nav .menu ul {
    display: flex;
    justify-content: center;

}

.nav .menu ul li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
}

.nav .menu ul li a {
    /* display: block; */
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    transition: 50ms;
}


.nav .menu ul li a:hover {
    border-bottom: 2px solid rgb(194, 6, 6);
}

.active {
    text-decoration: underline;
    border-bottom: 2px solid #C20606;
}

ul {
    list-style-type: none;
}

/* FIN DE MENU  */

/* HEADER  */

.header {
    background-image: url('../images/mudanzas.png');
    background-position: center center;
    width: 100%;
    height: 80vh;
}

.description-bg {
    width: 45%;
    height: 100%;
    background-color: rgba(3, 17, 63, 0.8);
    display: flex;
    align-items: center;

}

.header .description-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    color: #fff;
    width: 70%;
    /* border: 1px solid red; */
}

.header .description-detail h1 {
    font-family: "Roboto Black";
    font-size: 42px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 6px;
}

.header .description-detail p {
    margin-bottom: 35px;
    font-family: "Montserrat";
    font-size: 18px;
}

.header .description-detail .btn{
    width: 120px;
    text-decoration: none;
}

/* FIN HEADER  */

/* BOTON  */

.btn {
    width: 200px;
    background-color: rgb(194, 6, 6);
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Montserrat SemiBold";
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.btn:hover {
    background-color: rgb(3, 17, 63);

}

/* FIN DE BOTON  */


/* ABOUT  */

.about {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 70px;
}

.detail-about,
.form-about {
    width: 30%;
}

.detail-about h2 {
    font-family: "Roboto Black";
    font-size: 35px;
    letter-spacing: 3px;
    color: rgb(3, 17, 63);
    margin-bottom: 15px;
}

.detail-about p {
    font-family: "Montserrat";
    font-size: 18px;
    margin-bottom: 30px;
}

.detail-about a {
    text-decoration: none;
}

.form-about {
    background-color: #eee;
    margin-top: -127px;

}

.form-about h3 {
    width: 100%;
    background-color: #03113f;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Black";
    padding-top: 15px;
    padding-bottom: 10px;
}

.form-about form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 25px;
}

.form-about input[type="text"],
.form-about input[type="email"],
.form-about input[type="tel"],
.form-about textarea {
    display: block;
    width: 70%;
    padding: 13px 5px;
    padding-left: 20px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.form-about textarea {
    margin-bottom: 35px;
}

/* FIN DE ABOUT  */

/* SERVICES */

.services {
    width: 100%;
    background-image: url("../images/mudanza.png");
    background-position: center center;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-detail {
    width: 48%;
    height: 250px;
    position: absolute;
    z-index: 2;
    margin-left: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #03113f;
    padding: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    /* border: 1px solid red; */
}

.services-detail ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.services-detail ul li {
    flex-basis: 30%;
    flex-grow: 1;
    display: flex;
    margin-bottom: 30px;
    margin-right: 35px;
    list-style: none;
}

.services-detail ul li i {
    width: 15%;
    text-align: center;
    font-size: 24px;
    margin-right: 16px;
    color: #C20606;
}

.services-detail .service-info {
    width: 80%;
}

.services-detail h3 {
    font-family: "Montserrat SemiBold";
    font-size: 17px;
    margin-bottom: 7px;
}

.services-detail a {
    display: block;
    text-align: end;
    text-decoration: none;
    color: #C20606;
    margin-top: 8px;
}

.services-detail a:hover {
    color: #03113f;
}


.sercices-description-bg {
    width: 45%;
    height: 80vh;
    background-color: rgba(3, 17, 63, 0.8);
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    /* border: 3px solid yellow; */

}

.sercices-description {
    width: 55%;
    color: #fff;
    margin: 0px auto;
    /* padding: 0px 80px; */
    /* border: 1px solid red; */
}

.sercices-description h3 {
    font-family: "Roboto Black";
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

.sercices-description p {
    margin-bottom: 35px;
    font-family: "Montserrat";
    font-size: 16px;
}


/* FIN DE SERVICES */

/* COMENTARIOS */

.comments {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 40px;
    padding-top: 70px;
    padding-bottom: 60px;
}

.comments .comment-detail p {
    font-family: "Montserrat Italic";
    font-size: 16px;

}

.title {
    font-family: "Roboto Black";
    font-size: 35px;
    letter-spacing: 3px;
    color: rgb(3, 17, 63);

    margin-bottom: 15px;
}

.comment-all {
    display: flex;
    justify-content: center;
}

.comment-all .item {
    width: 35%;
    margin: 25px;
    padding: 45px 25px;
    background-color: rgba(3, 17, 63, 0.8);
    color: #fff;
}

.comillas {
    font-size: 75px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    color: #C20606;
}

.comment-all .item p {
    font-family: "Montserrat Light";
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 25px;
}

.comment-all .item h4 {
    color: #C20606;
    font-family: "Roboto";
    font-size: 14px;
    /* font-weight: bold; */
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.comment-all .item span {
    font-size: 14px;
    font-family: "Roboto";
}

/* FIN DE COMENTARIOS */

/* FOOTER  */

.footer {
    background-image: url("../images/mudanza-1.png");
    background-position: center center;
    width: 100%;
    min-height: 60vh;

}

.footer-bg {
    background-color: rgba(3, 17, 63, 0.8);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    /* padding: 80px 40px; */

}

.footer-content {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding-top: 100px;
    margin-bottom: 50px;
}

.detail-footer,
.gallery-footer,
.menu-footer {
    width: 28%;
    /* border: 1px solid white; */
}

.menu-footer {
    width: 10%;
}

.detail-footer p {
    font-family: "Montserrat";
    font-size: 18px;
    /* margin-top: 30px; */
    margin-bottom: 20px;
}

.footer-content .redes {
    margin-left: 0px;
}


.gallery-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.gallery-footer img {
    width: 102px;
      height: 102px;
    margin: 5px;
}

.menu-footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.menu-footer ul li {
    list-style: none;
    margin-bottom: 10px;
    text-align: start;
}

.menu-footer ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 5px;
    transition: 90ms;
}


.menu-footer ul li a:hover {
    border-bottom: 2px solid rgb(194, 6, 6);
}

.footer .title {
    color: #fff;
}

.footer .logo {
    width: 65%;
    margin-bottom: -20px;
    margin-left: -15px;
    /* border: 1px solid yellow; */
    /* margin: 0px auto; */
}

.logo img {
    width: 100%;

}

/* FIN DE FOOTER  */

/* AUTOR */
.autor {
    width: 100%;
    background-color: #333;
    color: #fff;

}

.autor p {
    font-family: "Montserrat";
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.autor p a {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
}

.autor p a:hover {
    color: #C20606;
}


.header-pg {
    background-image: url('../images/Cotizar.png');
    background-position: center center;
    width: 100%;
    height: 20vh;
}

.header-pg .description-bg {
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
}

.header-pg .description-detail h1 {
    color: white;
    text-align: center;
    font-family: "Roboto Black";
    font-size: 45px;
}

.content-pg {
    width: 100%;
    min-height: 50vh;
    margin-top: 40px;
    margin-bottom: 50px;
}

.item-pg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-pg .detail-item,
.item-pg .image-item {
    width: 30%;
    margin-left: 50px;
    margin-right: 50px;

}

.item-pg .image-item img {
    width: 100%;
    border-radius: 50%;
}

.item-pg .detail-item p {
    font-family: "Montserrat";
    font-size: 18px;
    margin-bottom: 30px;
}

#contact {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #03113f;
    padding-top: 50px;
}

#contact .imagen-contact,
#contact .line-contacto {
    width: 40%;
    /* border: 1px solid green; */
}

#contact .line-contacto h1 {
    color: #fff;
}

#contact .line-contacto p {
    color: #fff;
    font-family: "Montserrat";
    font-size: 18px;
    margin-bottom: 30px;
}

#contact .line-contacto span {
    font-size: 30px;
    font-family: "Montserrat SemiBold";
    color: #fff;
}

#contact .imagen-contact img {
    width: 65%;
    display: block;
    margin: 0px auto;
}




.form-contact {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form,
.detail-contact,
.map-contact {
    width: 28%;
    /* border: 1px solid red; */
}

.form-contact {
    padding-top: 50px;
    padding-bottom: 40px;
}

.form-contact .form form {
    display: flex;
    flex-direction: column;
}

.form-contact .form input[type="text"],
.form-contact .form input[type="tel"],
.form-contact .form input[type="email"],
.form-contact .form textarea {
    padding: 13px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Montserrat Light";
}

.form-contact .map-contact iframe {
    width: 100%;
}

.form-contact .detail-contact ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-contact .detail-contact ul li {
    list-style: none;
    margin-bottom: 10px;
}

.form-contact .detail-contact ul li i {
    margin-right: 15px;
}

.form-contact .detail-contact .redes {
    margin-left: 0px;
}

/* .form-contact .form input[type="text"]::before,
.form-contact .form input[type="tel"]:focus,
.form-contact .form input[type="email"]:focus,
.form-contact .form textarea:focus{    
    border: 5px solid #C20606;    
} */

.header-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}

.header-title i {
    font-size: 55px;
    color: #C20606;
    margin-right: 15px;
    margin-top: -20px;
}

.header-title h2 {
    line-height: 30px;
    color: #03113f;
    letter-spacing: 1px;
}



#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

svg {
    width: 80px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, .4));
}

circle {
    fill: #25d366;
 }
 path {
    fill: #fff;
 }

#whatsapp i {
    font-size: 80px;
    color: #fff;
}


/* DANGER  */

.danger{
    width: 85%;
    padding: 15px 25px;
    font-size: 12px;
    background-color: #C20606;
    color: #eee;
    margin-bottom: 15px;
    border-radius: 5px;
}

.success{
    width: 100%;
    padding: 15px 0px;
    background-color: #14853d;
    color: #eee;
    font-size: 12px;
    margin-bottom: 15px;
    /* border-radius: 5px; */
    text-align: center;
}

form ul li{
    list-style: none;
    padding-left: 5px;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    color: #C20606;
}