{% extends 'layout/index.html' %}
{% load static %}

{% block title %} Servicios {% endblock  %} 

{% block content %}

    <header class="header-pg">
        <div class="description-bg">
            <div class="description-detail">
                <h1>Servicios</h1>
            </div>
        </div>
    </header>

    <div class="content-pg">

        <div class="item-pg">
            <div class="detail-item">
                <div class="header-title">
                    <i class="fa-sharp fa-regular fa-location-dot"></i>
                    <h2 class="title">Mudanzas Nacionales</h2>
                </div>
                <p>
                    En este servicio ofrecemos el transporte de sus mudanzas a nivel
                    nacional, con tapete al piso, mantas de algodón, para cubrir sus
                    muebles. Además de contar con todas las herramientas para realizar
                    de forma adecuada su mudanza. <br><br>
                    Contamos con personal certificado para la manipulación de sus
                    muebles. nos encargamos de brindar un servicio puerta a puerta
                    acomodando su mudanza donde nos indique para su satisfacción.

                </p>
            </div>
            <div class="image-item">
                <img src="{% static 'images/3.png'%}" alt="foto1" />
            </div>
        </div>

        <div class="item-pg">
            <div class="image-item">
                <img src="{% static 'images/2.png'%}" alt="foto1" />
            </div>
            <div class="detail-item">
                <div class="header-title">
                    <i class="fa-solid fa-truck-ramp-box"></i>
                    <h2 class="title">Mudanzas Locales</h2>
                </div>
                <p>
                    Contamos con servicio de mudanzas dentro de la ciudad ayudando
                    en su traslado de un barrio a otro. Contando con personal que
                    le ayudaran en cada paso que tenga que hacer para su traslado. </p>
            </div>
        </div>

        <div class="item-pg">

            <div class="detail-item">
                <div class="header-title">
                    <i class="fa-solid fa-truck"></i>
                    <h2 class="title">Transporte Eventos</h2>
                </div>
                <p>
                    En este servicio ofrecemos el transporte de sus eventos,
                    ayudando a transportar equipos como: sonidos, estructuras
                    para tarimas, vayas publicitarias muebles, etc. al lugar
                    donde tengan sus actividades, ayudando a descargar y organizar
                    como lo deseen.
                </p>
            </div>
            <div class="image-item">
                <img src="{% static 'images/4.png'%}" alt="foto1" />
            </div>
        </div>

        <div class="item-pg">
            <div class="image-item">
                <img src="{% static 'images/3.png'%}" alt="foto1" />
            </div>
            <div class="detail-item">
                <div class="header-title">
                    <i class="fa-solid fa-truck-front"></i>
                    <h2 class="title">Transporte Vehiculos</h2>
                </div>
                <p>
                    Especializados en el transporte de vehículos tipo automóviles,
                    camionetas, minicamiones, motocicletas, motocarros, cuatrimotos,

                    <br><br>
                    Siempre contando con los mejores cuidados y más altos estándares de calidad.
                </p>
            </div>
        </div>

        <div class="item-pg">

            <div class="detail-item">
                <div class="header-title">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <h2 class="title">Servicio Bodegaje </h2>
                </div>
                <p>
                    Contamos con un espacio adecuado para almacenar su mercancías,
                    muebles u otros objetos que quieran guardar, por algún periodo.
                    Este servicio contamos unicamente en la ciudad de Bogotá y Cartagena. </p>
            </div>
            <div class="image-item">
                <img src="{% static 'images/2.png'%}" alt="foto1" />
            </div>
        </div>

        <div class="item-pg">
            <div class="image-item">
                <img src="{% static 'images/1.png'%}" alt="foto1" />
            </div>
            <div class="detail-item">
                <div class="header-title">
                    <i class="fa-solid fa-box-open"></i>
                    <h2 class="title">Servicio Embalaje </h2>
                </div>
                <p>
                    Empacamos correctamente sus muebles o enceres con material
                    especializado para garantizar el transporte seguro de sus
                    pertenecías, ademas contamos con personal capacitado para
                    el desmonte de soportes y muebles.
                </p>
            </div>
        </div>


    </div>
    {% endblock  %}